@media(max-width: 576px) {

    /****** slider */

    .container-4 .slider {
        display: none;
    }

    .mobile-slider {
        display: block;
    }

    .shooting-process {
        font-size: 14px;
    }

    /****** Quality info row */

    .quality-info {
        display: grid !important;
        grid-template-columns: repeat(2, 50%);
    }

    .quality-info .col h5 {
        font-size: 13px;
    }

    /****** Quality info row */

    .infography-container {
        display: flex;
        width: 100% !important;
        margin: auto;
        text-align: center;
    }

    .infography-container .infography .row {
        display: grid !important;
        margin: 0 !important;
    }

    .container .infography .row .col-4 {
        width: 100%;
        text-align: center !important;
    }

    .container .infography .row .col-8 {
        width: 100%;
    }

    .container .infography span,
    .container .infography h2 {
        padding: 0px;
    }

    .container .infography .row .col-8 p {
        text-align: justify;
    }

    .container .infography .row .col-8,
    .container .infography .row img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .container .infography .vert-text {
        transform: rotate(0) !important;
        font-size: 14px;
        width: 100% !important;
        padding: 15px;
        margin-left: 45px;
    }

    .container .infography .col-4 button {
        margin-left: 90px;
    }

    /****** Gallery */

    .gallery .container h3 {
        font-size: 20px;
    }

    .gallery .container p {
        padding: 0 10px;
    }

    .photo-gallery .container {
        display: grid !important;
    }

    .container-4 .container .vertical-gallery .col {
        display: none;
    }

    /****** Shooting Process */

    .shooting-process {
        margin-bottom: 0 !important;
    }

    .shooting-process .container h3 {
        font-size: 20px;
    }

    .shooting-process .container h3,
    .shooting-process .container p {
        width: 100%;
        padding: 0;
    }

    .shooting-process .process-container {
        display: grid !important;
        margin: auto;
    }

    .shooting-process .process-container .col-8 {
        display: grid !important;
        width: 100% !important;
        margin: auto;
    }

    .shooting-process .process-container .col-8 img {
        width: 100% !important;
    }

    .shooting-process .process-container .col-4 {
        width: 100%;
    }

    .process-container .col-4 button {
        left: 120px;
    }

    /****** Shooting Process */
    
    .packages {
       width: 100% !important;
    }

    .packages .container {
        padding: 48px 10px !important;
    }

    .packages .container .title-text h3,
    .packages .container .title-text p {
        width: 100%;
        padding: 0;
    }

    .packages .container .title-text .h3 {
        font-size: 20px;
    }

    .packages .container .package-row {
        display: grid;
        width: 100%;
    }

    .packages .container .package-row .col-4 {
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }

    .packages .container .package-row .col-4 .reservation-btn {
        width: 70%;
        margin: 5px 0 10px 0;
    }

    .packages .container .package-row .horizontal-photo,
    .packages .container .package-row .vertical-photo {
        display: none;
    }

    /****** Google FeedBacks */

    .google-reviews {
        display: grid !important;
        width: 100% !important;
        padding: 0;
    }

    .google-reviews .google-review-container {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }

    .google-reviews .row .review-container-box {
        display: grid !important;
        gap: 15px;
    }

    /****** Bottom Contact Form */

    .contact-row .contact-container {
        display: grid !important;
        padding: 48px 15px !important;
    }

    .contact-row .contact-container .col .contact-form {
        width: 100%;
    }

    .contact-row .contact-container .map h2 {
        font-size: 20px;
        margin: 20px 0;
    }

    .contact-row .contact-container .map .contact-info {
        display: grid !important;
        justify-content: center !important;
    }

    /****** Google FeedBacks */

    .bottom-info-row {
        padding: 48px 15px !important;
    }

    .bottom-info-row .container {
        display: grid !important;
    }

    .bottom-info-row .container .col-4 {
        width: 100% !important;
        margin: auto !important;
    }

    .bottom-info-row .bottom-info-tel {
        margin-bottom: 2rem !important;
    }

    .bottom-info-row .bottom-info-tel a,
    .bottom-info-row .bottom-info-tel p {
        width: 100%;
    }

    .tursab {
        padding: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 2rem !important;
    }



}



@media(max-width: 900px) {
    .shooting-process {
        font-size: 14px;
    }

}