@media(max-width: 576px) {

/****** slider */

.home-title {
    display: none;
}

.mobile-slider {
    display: block;
}

.shooting-process{
    font-size: 14px;
}

}
@media(max-width: 900px) {
    .shooting-process{
        font-size: 14px;
    }
    
}