@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500&display=swap');

* {
    outlinee: 1px solid limegreen !important;
}

html {
    font-family: 'Barlow Condensed', sans-serif;
}

/***** Navbar ******/
.navbarr .container .collapse ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** Slider ******/

.slider {
    position: relative;
    height: 80vh;
}

.home-slider {
    positionn: absolute;
}

.home-title {
    position: absolute;
    left: 130px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #4A4A4A;
    height: 80vh;
    padding: 30px;
    z-index: 1;
}